.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px; 
  padding: 20px;
  justify-items: center; 
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center; 
 
}

.card-body {
  border-radius: 8px; 
  text-align: center;
  margin-top: -10px;
  height: 360px;
}

.article-image {
  width: 100%;
  border-radius: 2px; 
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.card-body-article-page {
  justify-content: center;
  width: 1190px !important;
  align-items: center;
  margin: 50px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(23, 23, 23, 0.1);
  border-radius: 8px;
}

.article-page-image {
  width: 500px;
  border-radius: 2px; 
}

.article-page-header {
  font-size: large;
}

.comment-section {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 

}

ul{
  list-style-type: none;
}
.comment-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  width: 100%;  
  justify-content: center; 
 
}

.comment-item{
display: flex;
flex-direction: column; 
background-color: #f9f9f9;
padding: 15px;
width: 800px; 
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
width: 1190px;
margin: 10px;
}

.error-msg {
  background-color: pink;
  color: red;
}